---
name: Арчибальд
first_name: Арчибальд
second_name: Котиков
login: archi
email: kotikoff@kotomail.ru
phone: 88888888
---
<html lang="en">
<head>
    <title>Profile Settings</title>
    <link rel="stylesheet" type="text/css" href="./profileSettings.css"/>
</head>
<body>
<div class="profileSettings__box">
    {{> backArrow/backArrow href="../profileDescription/profileDescription.hbs"}}
    {{> avatar/avatar}}
    <img class="profileSettings__editImg" src="../../../static/img/image-edit(40x40)@1x.png">
    <h1 class="profileSettings__header">{{name}}</h1>
    <div class="profileSettings__formData">
        {{> input/input id="first_name" type="text" value=first_name label="Имя" }}
        {{> input/input id="second_name" type="text" value=second_name label="Фамилия" }}
        {{> input/input id="login" type="text" value=login label="Логин" }}
        {{> input/input id="email" type="text" value=email label="Почта" }}
        {{> input/input id="phone" type="number" value=phone label="Телефон" }}
        <a href="../profileDescription/profileDescription.hbs">
            <button class="button && profileSettings__button">Сохранить</button>
        </a>
    </div>
</div>
</body>
</html>